<div class="container">
  <div id="chat">

    <h2 class="conv">Conversation:</h2>
    <h4> >_ You</h4>
    <h3 class="quest"> ' - <%= @question %>'</h3>
    <h4>>_ Coach</h4>
    <h3 class="answer"> ' - <%= @answer %>'</h3>

  </div>
</div>
<%= link_to "Back", ask_path %>
