<style>
.conv {
  color: blue;
}
.answer {
  color: black;
  background-color: lightyellow;
  padding-top: 16px;
  padding-bottom: 16px;
}
.quest{
  color: black;
  background-color: #F4F9F9;
  padding-top: 16px;
  padding-bottom: 16px;
}
h4{
  font-size: 12px;
  color: lightgrey;
}
</style>

<h2 class="conv"><em>Conversation:</em></h2>


<h3 class="quest"> ' - <%= @question %>'</h3>
<h4> > You</h4>
<h3 class="answer"> ' - <%= @answer %>'</h3>
<h4>> Coach</h4>
