
<h3 class="ask">Talk to your coach:</h3>

<form action="/answer", method= "get">
  <input type="text" name="question" placeholder="type here">
  <input type="submit" value="Ask!">
</form>


<%= link_to "Home", root_path %>
